@import "normalize";
@import "fonts";
@import "rouge-base16-dark.scss";

body {
  padding:0px 0 20px 0px;
  margin: 0px;
  font:14px/1.5 "OpenSansRegular", "Helvetica Neue", "Helvetica", "Arial, sans-serif;
  color:#ffead4;
  font-weight: normal;
  background: #252525;
  background-attachment: fixed !important;
  background: linear-gradient(#2a2a29, #0e4657);
}

h1, h2, h3, h4, h5, h6 {
  color:#72a400;
  margin:0 0 10px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
